/* Big tablet to 1200px; Small tablet to big tablet from 768x to 1023px*/
@media only screen  and (max-width:1200px){
  /* hiện bth */
}
 
/* Small tablet to big tablet from 768x to 1023px */
@media only screen and (max-width:1023px){
     /* hiện bth */
}
 
/* Small phones to small tablets */
@media only screen and (max-width: 1534px){
  /* chỉnh nhỏ hơn xíu ko thay đổi bố cục */
  body {
      font-size: 10px;
  }
  .header-bg {
      width: 100%;
      left: 0px;
      right: 0px;
  }
  .header-bg .logo {
      transform: translate(185%,20%);
  }
  .header-bg .buttons {
      transform: translate(-30%,20%);
  }
  .bg {
      width: 98%;
      margin-left: 0;
      left: 0;
  }
  .main .bg:nth-child(2),
  .main .bg:nth-child(3),
  .main .bg:nth-child(4),
  .main .bg:nth-child(5) {
      transform: translate(15px) scale(0.8,0.8);
      transition: transform 0.8s;
  }
  .main .bg:nth-child(3) {
    top: 300px;
}
.main .bg:nth-child(4) {
    top: 780px;
}
.main .bg:nth-child(5) {
    margin-top: 900px;
}
}
 
/* Small phones from 0 to 480px; */
@media only screen and (max-width: 960px){
   /* thay đổi bố cục flex-direction : column */
   body {
    font-size: 10px;
}
.header-bg {
    width: 100%;
    left: 0px;
    right: 0px;
}
.main .bg:nth-child(3) {
    top: 300px;
}
.main .bg:nth-child(4) {
    top: 780px;
}
.main .bg:nth-child(5) {
    margin-top: 900px;
}
.header-bg .logo {
    transform: translate(335%,20%);
}
.header-bg .buttons {
    transform: translate(-90%,0%);
}
.bg {
    width: 98%;
    margin-left: 0;
    left: 0;
}
.main{
    transform: translate(3px,-15%) scale(0.8,0.8);
    transition: transform 0.8s;
}
.banner {
    width: 100%;
    transform: scale(0.8,0.8) translate(0%,-12%);

}
}