@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

:root {
    --blue: #3C64B1;
    --white: #ffffff;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: #FFFFFF;
    overflow-x: hidden ;
    
}
.container {
    position: relative;
    width: 1440px;
    height: 2664px;
}

/* header bg */
.header-bg {
    position: absolute;
    height: 88px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #f3f6fa;
}

.header-bg .logo {
    position: absolute;
    width: 70px;
    height: 43px;
    left: 165px;
    top: calc(50% - 43px/2 + 3.5px);
    font-size: 20px;
}

.header-bg .links {
    display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px;
position: absolute;
width: 223px;
height: 18px;
left: calc(50% - 223px/2);
top: calc(50% - 18px/2);
font-style: normal;
font-weight: 600;
line-height: 18px;
letter-spacing: 0.2px;
color: #373F41;
}

.header-bg .links a {
    color: #000;
    margin-left: 25px;
    text-decoration: none;
}

.header-bg .buttons {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 199px;
height: 42px;
right: 165px;
top: calc(50% - 42px/2);
}

.buttons .contained {
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 18px;

position: static;
width: 110px;
height: 42px;
right: 0px;
top: calc(50% - 42px/2);

/* Accent / Default */
background: var(--blue);
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 20px;
}
.buttons .textual.default {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 183px;
    height: 42px;
    right: 126px;
    top: calc(50% - 42px/2);
    color: var(--blue);
}
.buttons .contained label,
.banner .content .buttons .contained {
    position: static;
height: 18px;
left: 18px;
right: 18px;
top: calc(50% - 18px/2);

/* Button - bold 14 (18, 0.3px) */
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;

/* identical to box height, or 129% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.3px;

/* Light / White */
color: #FFFFFF;
}

.buttons .outlined {
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 0px;

position: static;
width: 43px;
height: 42px;
right: 126px;
top: calc(50% - 42px/2);
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;
}
.buttons .outlined label {
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 0px;
position: static;
width: 43px;
height: 42px;
right: 126px;
top: calc(50% - 42px/2);
}

/* banner */
.banner {
position: relative;
height: 560px;
left: 0px;
right: 0px;
top: 88px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #3c65b148;
}
.banner::before {
    content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.08;
  background-image: url('img/backgroundbanner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.banner .content{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
position: absolute;
width: 730px;
height: 286px;
left: calc(50% - 730px/2);
top: calc(50% - 486px/2);
}

.banner .content .title.text {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 730px;
height: 188px;
left: calc(50% - 730px/2);
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 56px 0px;
}
.banner .content .title.text p:nth-child(1) {
    position: static;
width: 730px;
height: 112px;
left: calc(50% - 730px/2);
top: 0px;

/* H2 - bold 44 (56, 0.2px) */
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 56px;

/* or 127% */
text-align: center;
letter-spacing: 0.2px;

/* Light / Black */
color: #373F41;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;
}

.banner .content .title.text p:nth-child(2) {
    position: static;
width: 730px;
height: 44px;
left: calc(50% - 730px/2);
top: 144px;

/* Body 1 - regular 16 (22, 0.3px) */
font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* or 137% */
text-align: center;
letter-spacing: 0.3px;

/* Light / Gray dark */
color: #737B7D;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}

.banner .content .buttons {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 375px;
height: 42px;
top: 244px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 56px 0px;
}
.banner .content .buttons .contained {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 18px;
    position: static;
    width: 136px;
    height: 42px;
    left: calc(50% - 136px/2 - 69.5px);
    top: 0px;
    background-color: #3C64B1;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}
.banner .content .buttons .outlined {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--blue);
    padding: 12px 0px;
    padding-left: 16px;
    position: static;
    width: 115px;
    height: 42px;
    left: 5px;
    top: 0px;
    border: 1px solid #3C64B1;
    box-sizing: border-box;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-weight: bold;
}

.main {
    width: 100%;
    position: relative;
    top: 119px;
}
.main .bg:nth-child(1) {
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .bg:nth-child(1) .title.text {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
width: 920px;
height: 86px;
left: calc(50% - 920px/2);
}
.main .bg:nth-child(1) .title.text p:nth-child(1) {
    position: static;
width: 920px;
height: 40px;
left: calc(50% - 920px/2);
top: 0px;

/* H3 - bold 32 (40, 0.1px) */
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;

/* identical to box height, or 125% */
text-align: center;
letter-spacing: 0.1px;

/* Light / Black */
color: #373F41;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
}
.main .bg:nth-child(1) .title.text p:nth-child(2) {
    position: static;
width: 920px;
left: calc(50% - 920px/2);
bottom: 0px;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 137% */
text-align: center;
letter-spacing: 0.3px;
/* Light / Gray dark */
color: #737B7D;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 7px 0px;
}

.main .bg:nth-child(2) {
 background-color: #fff;
 position: static;
 display: grid;
 grid-template-columns: repeat(3, 33%);
 height: 204px;
 padding: 20px 165px;
}

.main .bg:nth-child(2) .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 350px;
    height: 204px;
    justify-content: center;
    text-align: center;

}
.main .bg:nth-child(2) .column:nth-child(1) {
    grid-column: 1/2;
}
.main .bg:nth-child(2) .column:nth-child(2) {
    grid-column: 2/3;
} 
.main .bg:nth-child(2) .column:nth-child(3) {
    grid-column: 3/4;
}

.main .bg:nth-child(2) .column .icon.text {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 250px;
height: 140px;
left: 0px;
top: 0px;
}
.main .bg:nth-child(2) .column .icon.text i {
    position: static;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px/2);
    top: 0px;
    margin: 24px 0px;
    font-size: 24px;
    color: var(--blue);
}
.main .bg:nth-child(2) .column .textual.default {
    position: static;
    margin-top: 50px;
}
.main .bg:nth-child(2) .column .textual.default label{
    color: var(--blue);
    font-family: Mulish;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.3px;
}
.main .bg .column .icon.text .title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    width: 350px;
    height: 76px;
    left: 0px;
    top: 64px;
}
.main .bg .column .icon.text .title-text p:nth-child(1) {
    position: static;
    height: 24px;
    left: 0;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 12px 0px;
}
.main .bg .column .icon.text .title-text p:nth-child(2) {
    position: static;
    left: 0px;
    right: 0px;
    top: 36px;
    bottom: 0px;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #373F41;
    margin: 12px 0px;
}

.main .bg:nth-child(3),
.main .bg:nth-child(4) {
    position: absolute;
    height: 600px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.main .bg:nth-child(3) {
    top: 340px;
}


.main .bg .container-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main .bg:nth-child(3) .container-main .img {
    grid-column: 1/2;
    position: absolute;
    height: 440px;
    left: 165px;
    right: 735px;
    top: calc(50% - 440px/2);
    background-image: url('img/image1.jpg');
    background-position: center;
}
.main .bg:nth-child(3) .container-main .content {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 540px;
    height: 364px;
    right: 165px;
    top: calc(50% - 364px/2);
}
.main .bg .container-main .content .title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;
    width: 540px;
    height: 218px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.main .bg .container-main .content .title-text p:nth-child(1) {
    position: static;
    height: 120px;
    left: 0px;
    right: 0px;
    top: calc(50% - 120px/2 - 49px);

    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 32px 0px;
}
.main .bg .container-main .content .title-text p:nth-child(2) {
    height: 66px;
    left: 0px;
    right: 0px;
    top: calc(50% - 66px/2 + 76px);
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
}
.main .bg .container-main .content .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    width: 540px;
    height: 90px;
    left: 0px;
    top: 274px;
    margin: 56px 0px;
}
.main .bg .container-main .content .field .container-field {
    position: static;
    width: 540px;
    height: 42px;
    left: 0px;
    top: 0px;
    margin: 16px 0px;
}
.main .bg .container-main .content .field .container-field input {
    position: absolute;
    width: 377px;
    height: 42px;
    left: 0px;
    top: calc(80% - 42px/2);
    right: 0px;
    bottom: 0px;
    background-color: #F4F5F4;
    padding: 11px 16px;
    border: none;
    outline: none;
}
.main .bg .container-main .content .field .container-field .contained.default {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 12px 18px;
    position: absolute;
    width: 149px;
    height: 42px;
    left: 401px;
    top: calc(80% - 42px/2);
    background-color: #3C64B1;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: bold;
}
.main .bg .container-main .content .field  p {
    position: static;
    height: 32px;
    left: 0px;
    right: 0px;
    top: calc(50% - 32px/2 + 29px);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737B7D;
    margin: 16px 0px;
}
.main .bg:nth-child(4) {
    top: 980px;
} 
.main .bg:nth-child(4) .container-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main .bg:nth-child(4) .container-main .content {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 540px;
    height: 290px;
    left: 165px;
    top: calc(25% - 290px/2);
}
.main .bg:nth-child(4) .container-main .content > p {
    position: static;
    height: 120px;
    left: 0px;
    right: 0px;
    top: calc(50% - 120px/2 - 85px);
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 56px 0px;
}
.main .bg:nth-child(4) .container-main .content .columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    height: 114px;
    left: 0px;
    right: 0px;
    top: 176px;
    margin: 26px 0px;
}
.main .bg:nth-child(4) .container-main .content .columns p {
    height:66px;
    position: static;
    left: 0px;
    right: 0px;
    top: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #737B7D;
    margin: 16px 0px;
}
.main .bg:nth-child(4) .container-main .content .columns i {
    color: var(--blue);
    font-size: 25px;
}
.main .bg:nth-child(4) .container-main .img {
    position: absolute;
    height: 440px;
    left: 735px;
    right: 165px;
    top: calc(35% - 440px/2);
    background-image: url('img/image2.jpg');
}
/* FOOTER */
.main .bg:nth-child(5) {
    position: relative;
    height: 368px;
    left: -28px;
    right: 0px;
    margin-top: 1180px;
    padding: 0px 190px;
    display: grid;
    margin-left: 0px;
    grid-template-columns: repeat(4,25%);
    grid-column-gap: 20px;
}
.main .bg:nth-child(5) .column:nth-child(1) {
    grid-column: 1/2;
}
.main .bg:nth-child(5) .column:nth-child(2) {
    grid-column: 2/3;
}
.main .bg:nth-child(5) .column:nth-child(3) {
    grid-column: 3/4;
}
.main .bg:nth-child(5) .column:nth-child(4) {
    grid-column: 4/5;
}
.main .bg:nth-child(5) .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 255px;
    height: 368px;
    z-index: 2;
}
.main .bg:nth-child(5) .column img {
    position: static;
    top: 0px;
    bottom: 108px;
    flex: none;
    flex-grow: 0;
    margin: 10px 0px 5px 0px;
    width: 255px;
    height: 260px;
}
.main .bg:nth-child(5) .column .title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    width: 255px;
    height: 76px;
    left: 0px;
    top: 292px;
    margin: 32px 0px;
}
.main .bg:nth-child(5) .column .title-text p:nth-child(1) {
    height: 24px;
    bottom: 52px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 2px 0px;
}
.main .bg:nth-child(5) .column .title-text p:nth-child(2) {
    position: static;
    height: 40px;
    bottom: 0px;
    font-style: normal;
    font-weight: 50;
    font-size: 14px;
    line-height: 20px;
    color: #373F41;
    margin: 12px 0px;
    text-align: center;
}
/* effect when click on button */
.bta:hover {
    cursor: pointer;
}
.bta:active {
    transform: scale(0.98,0.98);
    filter: brightness(80%);
    transition: all 0.03s;
}
.banner .content .buttons .outlined:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: all 0.9s;
}
.banner .content .buttons .outlined:active {
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    filter: brightness(80%);
}
.banner .content .buttons .contained:hover {
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    transition: all 0.9s;
}
.banner .content .buttons .contained:active {
    background-color: var(--blue);
    border: none;
    outline: none;
    color: var(--white);
    transition: all 0.7s;
}
/* blend màu cho các thẻ img */
img, .img {
    background-color : rgba(3, 92, 22, 0.233);
    background-blend-mode: lighten;
    filter: blur(0.2px) brightness(98%);
}